@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --color-foreground: oklch(0.145 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-background: oklch(1 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-border: oklch(0.922 0 0);
}
